# Java / Spring Boot
*.class
*.jar
*.war
*.log
target/

# IDE files
*.iml
.idea/
.vscode/

# OS files
.DS_Store
Thumbs.db

# Maven / Gradle
.mvn/
.settings/
mvnw
mvnw.cmd

# Temporary / cache
*.tmp


# Ignore environment-specific configs
src/main/resources/application-*.yml